{
  "root": true,
  "env": {
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unsafe-return": "off",
    "react-native/no-inline-styles": "warn",
    "react-native/no-unused-styles": "warn",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "react-native/no-single-element-style-arrays": "warn",
    "react-native/no-color-literals": "off",
    "no-sequences": "off",
    "one-var": ["error", "never"],
    "react-hooks/rules-of-hooks": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
